a{
  text-decoration: none;
  color: #ffffff;
}
a:active{
  color: #ffffff;
}
a:visited{
  color: #ffffff;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1553px;
  height: 3742px;
  margin: 0 auto;
  background: #0a0a0a;
  overflow: hidden;
}
.section {
  position: relative;
  width: 1409px;
  height: 85px;
  margin: 27px 0 0 59px;
  z-index: 38;
}
.pic {
  position: absolute;
  width: 116px;
  height: 85px;
  top: 0;
  left: 0;
  background: url(./assets/images/ca5851775d455d3e40b631a77dba201fcfcf118c.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 903px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 1018px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 1169px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 1290px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.text-5 {
  display: block;
  position: relative;
  height: 116px;
  margin: 183px 0 0 609px;
  font-family: Koulen, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 64px;
  font-weight: 400;
  line-height: 115.625px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.box {
  position: relative;
  width: 1954px;
  height: 693px;
  margin: 27px 0 0 -20px;
  z-index: 6;
}
.img {
  position: absolute;
  width: 844px;
  height: 406px;
  top: 0;
  left: 1110px;
  background: url(./assets/images/344c67926db2a277838942eb8ad12bfc99b71c7d.png)
    no-repeat center;
  background-size: cover;
}
.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 881px;
  height: 155px;
  top: 88px;
  left: 404px;
  font-family: Laila, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  z-index: 5;
}
.pic-2 {
  position: absolute;
  width: 548px;
  height: 419px;
  top: 274px;
  left: 0;
  background: url(./assets/images/45fb14a967b8b9f49307bd013ec4416c5919b1c1.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.text-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 899px;
  height: 180px;
  top: 274px;
  left: 404px;
  font-family: Laila, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 35.721px;
  text-align: left;
  z-index: 6;
}
.section-2 {
  position: relative;
  width: 1553px;
  height: 462px;
  margin: 113px 0 0 0;
  z-index: 24;
}
.box-2 {
  position: absolute;
  width: 507px;
  height: 462px;
  top: 0;
  left: 0;
  background: #fe0000;
  z-index: 13;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 444px;
  height: 287px;
  top: 153px;
  left: 15px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  z-index: 20;
}
.wrapper {
  position: absolute;
  width: 519px;
  height: 462px;
  top: 0;
  left: 518px;
  font-size: 0px;
  background: #ffc720;
  z-index: 8;
}
.text-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 504px;
  height: 116px;
  margin: 3px 0 0 16px;
  font-family: Magra, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.16px;
  text-align: left;
  z-index: 14;
}
.text-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 332px;
  height: 75px;
  margin: 34px 0 0 32px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-overflow: initial;
  z-index: 18;
  overflow: hidden;
}
.img-2 {
  position: absolute;
  width: 507px;
  height: 458px;
  top: 0;
  left: 1046px;
  background: url(./assets/images/ca18b64f255ce598ce81bf0a988a6cde57d1b7c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.text-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 499px;
  height: 116px;
  top: 8px;
  left: 19px;
  font-family: Magra, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.16px;
  text-align: left;
  z-index: 15;
}
.wrapper-2 {
  position: relative;
  width: 1553px;
  height: 448px;
  margin: 7px 0 0 0;
  z-index: 17;
}
.section-3 {
  position: absolute;
  width: 507px;
  height: 448px;
  top: 0;
  left: 0;
  background: #fe0000;
  z-index: 9;
}
.text-c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 272px;
  height: 50px;
  top: 179px;
  left: 19px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-overflow: initial;
  z-index: 21;
  overflow: hidden;
}
.pic-3 {
  position: absolute;
  width: 519px;
  height: 448px;
  top: 0;
  left: 518px;
  background: url(./assets/images/4e45eb266ae05da1c53bdd51840e0169c7de2c69.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.group {
  position: absolute;
  width: 507px;
  height: 448px;
  top: 0;
  left: 1046px;
  font-size: 0px;
  background: #e800ae;
  z-index: 7;
}
.text-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 498px;
  height: 116px;
  margin: 9px 0 0 9px;
  font-family: Magra, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.16px;
  text-align: left;
  z-index: 12;
}
.text-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 345px;
  height: 75px;
  margin: 17px 0 0 22px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-overflow: initial;
  z-index: 19;
  overflow: hidden;
}
.text-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 500px;
  height: 145px;
  top: 17px;
  left: 15px;
  font-family: Magra, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.16px;
  text-align: left;
  z-index: 16;
}
.wrapper-3 {
  position: relative;
  width: 2979px;
  height: 410px;
  margin: 315px 0 0 390px;
  z-index: 22;
}
.img-3 {
  position: absolute;
  width: 1460px;
  height: 410px;
  top: 0;
  left: 1519px;
  background: url(./assets/images/de6228cf3f231128b0685703313e3de97ee07f5c.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.text-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39px;
  top: 96px;
  left: 0;
  font-family: Magra, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.88px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.section-4 {
  position: absolute;
  width: 205px;
  height: 76px;
  top: 205px;
  left: 280px;
  background: #000000;
  z-index: 22;
  border-radius: 60px;
}
.text-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 28px;
  left: 29px;
  font-family: Magra, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.section-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 375px;
  height: 69px;
  margin: 560px 0 0 571px;
  z-index: 28;
}
.pic-4 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 69px;
  background: url(./assets/images/8421f70bfc4fc0d2f22a05bacca052a74afa9063.png)
    no-repeat center;
  background-size: contain;
  z-index: 25;
}
.pic-5 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 69px;
  background: url(./assets/images/037ab79747ce554beab294e2dabb904628838cd0.png)
    no-repeat center;
  background-size: contain;
  z-index: 26;
}
.img-4 {
  flex-shrink: 0;
  position: relative;
  width: 79px;
  height: 69px;
  background: url(./assets/images/6628ee0747da137e478d15c36e85ad91dd97f0fc.png)
    no-repeat center;
  background-size: contain;
  z-index: 27;
}
.pic-6 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 69px;
  background: url(./assets/images/0712da546774240f3b155ac17a1d913db2921b1d.png)
    no-repeat center;
  background-size: contain;
  z-index: 28;
}
.group-2 {
  position: relative;
  width: 1094px;
  height: 29px;
  margin: 92px 0 0 171px;
  z-index: 32;
}
.text-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 272px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.text-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 508px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.text-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 913px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.text-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 4px;
  left: 0;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.img-5 {
  position: absolute;
  width: 1558px;
  height: 614px;
  top: -20px;
  left: 1658px;
  background: url(./assets/images/66da1ae232f0ffb2af2a9bd252189e2becc6af7e.png)
    no-repeat center;
  background-size: cover;
  filter: blur(2px);
  z-index: 2;
}
.img-6 {
  position: absolute;
  width: 1553px;
  height: 129px;
  top: 0;
  left: 1px;
  background: url(./assets/images/56305e21-c008-44fc-b77f-f71f60442795.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
}
.img-7 {
  position: absolute;
  width: 1576px;
  height: 514px;
  top: 2294px;
  left: -15px;
  background: url(./assets/images/2798f8742a6b841429f0ce0d27f8c3b7f9a22b0e.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
