a{
  text-decoration: none;
  color: #ffffff;
}
a:active{
  color: #ffffff;
}
a:visited{
  color: #ffffff;
}
.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1553px;
  height: 2984px;
  margin: 0 auto;
  background: #0a0a0a;
  overflow: hidden;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1409px;
  height: 85px;
  margin: 27px 0 0 58px;
  z-index: 29;
}
.img {
  flex-shrink: 0;
  position: relative;
  width: 116px;
  height: 85px;
  background: url(./assets/images/ca5851775d455d3e40b631a77dba201fcfcf118c.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 506px;
  height: 85px;
  z-index: 29;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 115px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 266px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 387px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  background: linear-gradient(201.76deg, #ffffff, rgba(255, 255, 255, 0));
  opacity: 0.5799999833106995;
  z-index: 29;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-5 {
  display: block;
  position: relative;
  height: 133px;
  margin: 595px 0 0 129px;
  font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 102px;
  font-weight: 400;
  line-height: 132.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.text-6 {
  display: block;
  position: relative;
  height: 42px;
  margin: 436px 0 0 278px;
  font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.group-2 {
  position: relative;
  width: 1548px;
  height: 967px;
  margin: 31px 0 0 267px;
  z-index: 12;
}
.text-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1525px;
  height: 202px;
  top: 0;
  left: 23px;
  font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: left;
  z-index: 11;
}
.wrapper-2 {
  position: absolute;
  width: 1101px;
  height: 825px;
  top: 142px;
  left: 0;
  font-size: 0px;
  background: rgba(31, 31, 31, 0.69);
  z-index: 12;
  border-radius: 39px;
}
.text-8 {
  display: block;
  position: relative;
  height: 16px;
  margin: 37px 0 0 58px;
  font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.text-9 {
  display: block;
  position: relative;
  height: 6px;
  margin: 48px 0 0 580px;
  font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #fff400;
  font-size: 20px;
  font-weight: 400;
  line-height: 6px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.text-a {
  display: block;
  position: relative;
  height: 25px;
  margin: 0 0 0 58px;
  font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #fff400;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.group-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 962px;
  height: 70px;
  margin: 0 0 0 58px;
  z-index: 14;
}
.box {
  flex-shrink: 0;
  position: relative;
  width: 441px;
  height: 70px;
  background: #000000;
  z-index: 13;
  border-radius: 15px;
}
.wrapper-3 {
  flex-shrink: 0;
  position: relative;
  width: 440px;
  height: 70px;
  background: #000000;
  z-index: 14;
  border-radius: 15px;
}
.text-b {
  display: block;
  position: relative;
  height: 15px;
  margin: 31px 0 0 58px;
  font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #fff400;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.box-2 {
  position: relative;
  width: 793px;
  height: 89px;
  margin: 22px 0 0 58px;
  background: #000000;
  z-index: 15;
  border-radius: 15px;
}
.text-c {
  display: block;
  position: relative;
  height: 16px;
  margin: 29px 0 0 58px;
  font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffe500;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.section {
  position: relative;
  width: 962px;
  height: 89px;
  margin: 24px 0 0 58px;
  background: #000000;
  z-index: 16;
  border-radius: 15px;
}
.text-d {
  display: block;
  position: relative;
  height: 16px;
  margin: 22px 0 0 74px;
  font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffe500;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.wrapper-4 {
  position: relative;
  width: 962px;
  height: 176px;
  margin: 31px 0 0 58px;
  background: #000000;
  z-index: 17;
  border-radius: 15px;
}
.box-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 375px;
  height: 69px;
  margin: 274px 0 0 586px;
  z-index: 3;
}
.img-2 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 69px;
  background: url(./assets/images/8421f70bfc4fc0d2f22a05bacca052a74afa9063.png)
    no-repeat center;
  background-size: contain;
}
.img-3 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 69px;
  background: url(./assets/images/037ab79747ce554beab294e2dabb904628838cd0.png)
    no-repeat center;
  background-size: contain;
  z-index: 1;
}
.img-4 {
  flex-shrink: 0;
  position: relative;
  width: 79px;
  height: 69px;
  background: url(./assets/images/6628ee0747da137e478d15c36e85ad91dd97f0fc.png)
    no-repeat center;
  background-size: contain;
  z-index: 2;
}
.pic {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 69px;
  background: url(./assets/images/0712da546774240f3b155ac17a1d913db2921b1d.png)
    no-repeat center;
  background-size: contain;
  z-index: 3;
}
.group-4 {
  position: relative;
  width: 1113px;
  height: 29px;
  margin: 92px 0 0 186px;
  z-index: 7;
}
.text-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 272px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.text-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 508px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.text-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 932px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.text-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 4px;
  left: 0;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.img-5 {
  position: absolute;
  width: 1553px;
  height: 129px;
  top: 0;
  left: 0;
  background: url(./assets/images/d9f53627-e0d6-40b3-aa05-dc116c4f0ad7.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.img-6 {
  position: absolute;
  width: 1596px;
  height: 1050px;
  top: 217px;
  left: -43px;
  background: url(./assets/images/2fed886fcc31dbe4fa82bf4abc4344a89a551518.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
