a{
  text-decoration: none;
  color: #ffffff;
}
a:active{
  color: #ffffff;
}
a:visited{
  color: #ffffff;
}
.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1553px;
  height: 6350px;
  margin: 0 auto;
  background: #0a0a0a;
  overflow: hidden;
}
.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1409px;
  height: 85px;
  margin: 27px 0 0 58px;
  z-index: 38;
}
.pic {
  flex-shrink: 0;
  position: relative;
  width: 116px;
  height: 85px;
  background: url(./assets/images/ca5851775d455d3e40b631a77dba201fcfcf118c.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.group-2 {
  flex-shrink: 0;
  position: relative;
  width: 506px;
  height: 85px;
  z-index: 38;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 115px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  background: linear-gradient(201.76deg, #ffffff, rgba(255, 255, 255, 0));
  opacity: 0.5799999833106995;
  z-index: 34;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 266px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 23px;
  left: 387px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.wrapper {
  position: relative;
  width: 2045.793px;
  height: 761.929px;
  margin: 4.523px 0 0 -182.931px;
  z-index: 4;
}
.pic-2 {
  position: absolute;
  width: 732.724px;
  height: 687.954px;
  top: 0;
  left: 1313.069px;
  background: url(./assets/images/5af4baca-291d-4bc1-998e-3fa56a98a105.png)
    no-repeat center;
  background-size: cover;
  transform: rotate(9.11deg);
}
.pic-3 {
  position: absolute;
  width: 323px;
  height: 324px;
  top: 101.477px;
  left: 537.931px;
  background: url(./assets/images/922cc58c-9d4d-410f-947a-1952763b54cd.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.img {
  position: absolute;
  width: 488.194px;
  height: 521.979px;
  top: 239.95px;
  left: 0;
  background: url(./assets/images/eba0d501-86d1-4055-bfe3-316c1d2d7e21.png)
    no-repeat center;
  background-size: cover;
  transform: rotate(78.05deg);
  z-index: 2;
}
.text-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 783px;
  height: 106px;
  top: 272.477px;
  left: 217.931px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 53.203px;
  text-align: left;
  z-index: 4;
}
.pic-4 {
  position: absolute;
  width: 405.583px;
  height: 404.455px;
  top: 308.477px;
  left: 878.931px;
  background: url(./assets/images/eef8cb24-2106-434b-9175-a5a97c4e4328.png)
    no-repeat center;
  background-size: cover;
  transform: rotate(43.42deg);
  z-index: 3;
}
.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1007px;
  height: 301px;
  margin: 19.548px 0 0 48px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  line-height: 42.563px;
  text-align: left;
  text-overflow: initial;
  z-index: 6;
  overflow: hidden;
  backdrop-filter: blur(2px);
}
.text-7 {
  display: block;
  position: relative;
  height: 64px;
  margin: 244px 0 0 48px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  line-height: 63.844px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1205px;
  height: 160px;
  margin: 443px 0 0 852px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.844px;
  text-align: left;
  text-decoration: underline;
  z-index: 9;
}
.text-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 966px;
  height: 160px;
  margin: 390px 0 0 1056px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.844px;
  text-align: left;
  text-decoration: underline;
  z-index: 11;
}
.text-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1178px;
  height: 147px;
  margin: 437px 0 0 711px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.844px;
  text-align: left;
  text-decoration: underline;
  z-index: 13;
}
.text-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 879px;
  height: 160px;
  margin: 382px 0 0 1233px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.844px;
  text-align: left;
  text-decoration: underline;
  z-index: 15;
}
.text-c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 866px;
  height: 160px;
  margin: 423px 0 0 1183px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.844px;
  text-align: left;
  text-decoration: underline;
  z-index: 17;
}
.text-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1182px;
  height: 160px;
  margin: 476px 0 0 920px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.844px;
  text-align: left;
  text-decoration: underline;
  z-index: 24;
}
.group-3 {
  position: relative;
  width: 1598px;
  height: 753px;
  margin: 95px 0 0 -13px;
  background: rgba(62, 62, 62, 0.51);
  z-index: 18;
}
.pic-5 {
  position: absolute;
  width: 511px;
  height: 504px;
  top: 125px;
  left: 182px;
  background: url(./assets/images/eea0a7b0ccd0d17371c72f55ec0c04a66f51cc24.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
  border-radius: 55px;
}
.wrapper-2 {
  position: absolute;
  width: 488px;
  height: 360px;
  top: 206px;
  left: 879px;
  font-size: 0px;
  z-index: 21;
}
.text-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 405px;
  height: 144px;
  margin: 0 0 0 23px;
  font-family: OFL Sorts Mill Goudy TT, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  line-height: 47.616px;
  text-align: left;
  text-overflow: initial;
  z-index: 21;
  overflow: hidden;
}
.group-4 {
  position: relative;
  width: 488px;
  height: 102px;
  margin: 114px 0 0 0;
  background: rgba(0, 0, 0, 0.54);
  z-index: 19;
  border-radius: 70px;
}
.text-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 33px;
  left: 102px;
  font-family: Nirmala UI, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.922px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 375px;
  height: 69px;
  margin: 252.004px 0 0 592.671px;
  z-index: 28;
}
.pic-6 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 69px;
  background: url(./assets/images/8421f70bfc4fc0d2f22a05bacca052a74afa9063.png)
    no-repeat center;
  background-size: contain;
  z-index: 25;
}
.img-2 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 69px;
  background: url(./assets/images/037ab79747ce554beab294e2dabb904628838cd0.png)
    no-repeat center;
  background-size: contain;
  z-index: 26;
}
.pic-7 {
  flex-shrink: 0;
  position: relative;
  width: 79px;
  height: 69px;
  background: url(./assets/images/6628ee0747da137e478d15c36e85ad91dd97f0fc.png)
    no-repeat center;
  background-size: contain;
  z-index: 27;
}
.img-3 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 69px;
  background: url(./assets/images/0712da546774240f3b155ac17a1d913db2921b1d.png)
    no-repeat center;
  background-size: contain;
  z-index: 28;
}
.section {
  position: relative;
  width: 1099px;
  height: 34px;
  margin: 87px 0 0 192.671px;
  z-index: 32;
}
.text-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 918px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.text-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 5px;
  left: 272px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.text-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 5px;
  left: 508px;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.text-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 9px;
  left: 0;
  font-family: Krona One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.pic-8 {
  position: absolute;
  width: 1553px;
  height: 129px;
  top: 0;
  left: 0;
  background: url(./assets/images/d925215d-58ea-421c-8e0e-8c62a00dd50c.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
}
.img-4 {
  position: absolute;
  width: 1565px;
  height: 468px;
  top: 1576px;
  left: -1px;
  background: url(./assets/images/adf8c3a87026429cccbf7283a47864d28448b8da.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.pic-9 {
  position: absolute;
  width: 1632px;
  height: 543px;
  top: 2061px;
  left: -36px;
  background: url(./assets/images/60a69357a35e7c3fb7f337bdd9f1ad397f8ccae6.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.img-5 {
  position: absolute;
  width: 1581px;
  height: 547px;
  top: 2624px;
  left: 4px;
  background: url(./assets/images/6230f06d7074d94fbc80cac2ec9b818e713d59d0.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.pic-a {
  position: absolute;
  width: 1582px;
  height: 547px;
  top: 3185px;
  left: -1px;
  background: url(./assets/images/9da0b431a6ee84094cebe056522ca9a3d5c447e9.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.pic-b {
  position: absolute;
  width: 1581px;
  height: 557px;
  top: 3752px;
  left: 4px;
  background: url(./assets/images/c059579d9612b9108aac245278d1e1c4d266dea1.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.img-6 {
  position: absolute;
  width: 1581px;
  height: 596px;
  top: 4329px;
  left: 4px;
  background: url(./assets/images/c52d156342d046ce21bcfd1daf921a4488711937.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
